<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <parameter name="lineaPostpago" value="3103021199"/>
    <test name="Pixel_2">
        <listeners>
            <listener class-name="listeners.TestListener" />
        </listeners>
         <classes>
           <class name="test.postpago.postpagoTests.AdministraTusProductosPosTests"/>
             <class name="test.postpago.postpagoTests.AtencionAlClienteYSoportePosTests"/>
             <class name="test.postpago.postpagoTests.MasBeneficiosPosTests"/>
             <class name="test.postpago.postpagoTests.EntretenimientoPosTests"/>


             <!--   <methods>
                      <include name="pos004_ConsultarRecargasYPaquetes" />
                </methods> -->

        </classes>

    </test>
</suite> <!-- Suite -->
