<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Pixel_2">
        <listeners>
            <listener class-name="listeners.TestListener" />
        </listeners>
        <classes>
            <class name="test.postpago.postpagoTests.AdministraTusProductosTests">
                <methods>
                    <include name="cp004_ConsultarRecargasYPaquetes" />
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->
